.account-profile-container {
  background-image: url("../../asset/accountProfile/background.png");
  height: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    &.hover {
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
    &.focus {
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    &.hover {
      cursor: pointer;
    }
  }

  .loading-container {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    bottom: 0;
    top: 0;
    background: #0000004f;
  }

  .profile-card {
    background: #ffffff;
    border-radius: 10px;
    flex: 1;
    margin-top: 8px;
    padding: 15px 17px 29px 19px;
    display: flex;
    flex-direction: column;

    .top-row {
      display: flex;
      justify-content: space-between;

      img {
        width: 40px;
        height: 40px;
      }
    }

    .phone-content {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 12px;

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #929191;
        margin-left: 0.4rem;
      }
    }

    .group {
      display: flex;
      flex-direction: column;
      margin-top: 25px;
      margin-right: 7px;
      overflow: hidden;
      min-width: 0;

      .label {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #929191;
        margin-bottom: 5px;
      }

      .name {
        font-size: 16px;
        line-height: 19px;
      }

      input {
        width: 100%;
        font-size: 1rem;
        outline: 0;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 300;
        text-overflow: ellipsis;
        border-bottom: 1px solid #c4c4c4;
      }

      .MuiSelect-selectMenu {
        font-size: 1rem;
        font-weight: 300;
      }

      .error {
        font-size: 13px;
        color: red;
        margin-top: 0.1rem;
      }

      .MuiSelect-select.MuiSelect-select {
        padding-bottom: 0;
      }

      .MuiInput-underline:before {
        border-bottom: 1px solid #c4c4c4;
      }
    }

    .billing-group,
    .payment-group {
      margin-top: 36px;

      h3 {
        font-size: 18px;
        line-height: 21px;
      }

      .group {
        margin-top: 15px;
      }

      .d-grid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
      }
    }

    .save-button {
      background: #3497f9;
      border-radius: 20px;
      margin-top: 28px;
      width: fit-content;
      align-self: center;
      padding: 7px 25px;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
