.order-portal {
    .top-section {
        border-bottom: 1px dashed #dedede;
        margin-bottom: 1rem;
        padding: 1rem 0rem;

        .title {
            font-weight: 700;
            font-size: 22px;
        }

        .category,
        .impressions {
            color: #848484;
            font-size: 13px;
        }
    }

    .coupon-section {
        margin-bottom: 1rem;
    }
}
