.ticket-container {
  background-image: url("../../asset/ticket/background.svg");
  height: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .ticket-card {
    z-index: 1;
    display: flex;
    flex-direction: column;

    .upper-section {
      background: white;
      border-radius: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 18px 20px 10px 20px;
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .navigation-content {
        width: 100%;
        display: flex;
        align-items: center;

        .disable-arrow {
          opacity: 0.5;
        }
      }

      .ticket-number {
        font-size: 24px;
        line-height: 28px;
        margin-top: 0.2rem;
      }
    }

    .ticket-count {
      padding: 1rem 0;
      position: relative;
      overflow: hidden;
      width: 100%;
      display: inline-block;

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        box-shadow: 0px 0px 0px 200px #ffffff;
        z-index: -1;
      }
      &:before {
        left: unset;
        right: -20px;
      }
      &:after {
        left: -20px;
        right: unset;
      }

      .dash-border {
        border: 0.1px dashed #000000;
        position: absolute;
        left: 15px;
        right: 15px;
        top: 14px;
      }

      .text {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 3px;

        background: white;
        border: 1px solid #929191;
        border-radius: 18px;
        padding: 3px 11px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
      }
    }

    .ticket-details {
      margin-top: -1px;
      background: white;
      border-radius: 15px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 10px 20px 10px 20px;
      display: flex;
      flex-direction: column;

      .additional-fields {
        display: grid;
        grid-template-columns: auto auto;

        .left-part {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
        }

        .right-part {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;

          span,
          img {
            margin-top: 22px;
            z-index: 1;
          }

          span {
            background: #000000;
            border-radius: 12px;
            color: white;
            padding: 2px 17px;
            max-width: 170px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          img {
            width: 34px;
            height: 34px;
          }

          .dash-border {
            border: 0.1px dashed #000000;
            position: absolute;
            top: 22px;
            bottom: 0;
            z-index: 0;
          }
        }
      }

      .group {
        display: flex;
        flex-direction: column;
        margin-top: 22px;

        .label {
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #929191;
          margin-bottom: 0.2rem;
        }

        .name {
          font-size: 24px;
          line-height: 28px;
        }

        .ticket-info {
          font-size: 14px;
          line-height: 17px;
        }
      }

      .location-container {
        grid-template-columns: 0.7fr 1fr;
        grid-column-gap: 16px;

        .view-map {
          font-size: 12px;
          line-height: 14px;
          color: #cf2d48;
          text-decoration: none;
          margin-top: 3px;
        }
      }
    }
  }
}
